.homepage
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.view
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40%;
    width: 40%;
    box-shadow: 0px 0px 10px orange;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 30%;
    filter: opacity(70%);
    /* background-color: darkgreen; */
    background-color: white;
    border: none;
}
#mode:hover
{
    transform:  scaleY(1.6) scaleX(1.6);
    color: red;
}
#mode 
{
    /* color: yellowgreen; */
    color: black;
    font-size: large;
    transition: 0.3s;
    display: block;
    text-decoration: none; 
    margin: 0px 50px;  
    text-shadow: 0px 0px 10px blue;
}

